p{
    color: rgb(255, 255, 255);
}

body {
    background: rgba(0, 0, 0, 0.322);
    background-image: url(https://lh3.googleusercontent.com/z_ya1uDhSfIp2xlp4pKo4O0GA-rMJ8dIsT6ImgzlEUpCZohpqcE70WDhIYBqbskHdA); 
   
   background-size:100px;
  }

h1 {
    color: rgb(173, 166, 166);
}

h2{
    color: white;
}
b{
    color: rgb(247, 243, 243);
}

a{
    color: rgb(252, 0, 0);
}